# System files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Project-specific ignores
.sixth/
output.txt
Original/uploads/*
!Original/uploads/.gitkeep
Enhanced/uploads/*
!Enhanced/uploads/.gitkeep
!Enhanced/uploads/.htaccess
